* {box-sizing: border-box;}

/*--- Header Styles ---*/

.resume-bg {
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px black;
  background-color: rgb(25, 6, 46);
}

.resume-bg h1 {
  letter-spacing: 2px;
  margin: 0;
} 

header > div > p {
  font-size: 1rem;
}

.professional p {
  margin-bottom: 0px;
  font-size: 1rem;
}

/*--- Body Styles ---*/

#body {
  font-size: 14px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.job-card {
  margin-bottom: 3rem;
}

.skills-title,
.edu-title,
.work-title,
.contact-title,
.summ-title {
  font-weight: 600;
  border-bottom: 2px solid lightgray;
}

.education,
.contact,
#skills {
  padding-left: 0px;
  padding-right: 0px;
}

.contact,
.education {
  margin-bottom: 1.5rem;
}

.school-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

#skills {
  font-size: 1rem;
}

.skills-list {
  list-style: none;
  padding-left: 0rem;
  padding-right: 0rem;
}

.skills-list li {
  padding-left: 0.5rem;
}

.roles li {
  padding-bottom: 0.2rem;
}

aside p {
  margin-bottom: 0px;
}

.school,
.major,
.contact {
  font-size: 1rem;
}

@media (min-width: 768px) { 
  .education,
  .contact,
  #skills {
    padding-right: 0.75rem;
  }

  .contact,
  .education {
    margin-bottom: 0px;
  }
  
  .school-group {
    display: inline;
  }
  
}

@media (min-width: 992px) {
  .education,
  .contact,
  #skills {
    text-align: right;
    margin-bottom: 3rem;
  }

  .skills-list li {
    padding-left: 0rem;
  } 

  .ces {
    padding-right: 3rem;
  }

  .work-history {
    border-left: 1px solid black;
    padding-left: 3rem;
  }
}